/*Estilos para el main */
.main {
    color: #ffff;
    background-color: black;
    display: flex;
    flex-direction: column;
  }
  
  .main__img img {
    width: 100%;
  }
  
  .main__title-name {
    font-size: 12px;
    margin: 15px 0px 5px 35px;
  }
  
  .main__description {
    margin: 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 20px 20px 20px;
  }
  
  .main__btn {
    width: 100%;
    border: 1px solid #ffff;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
  }
  .main__container-btn {
    font-size: 20px;
    background: inherit;
    color: #ffff;
    border: none;
    font-weight: bolder;
  }
  
  .main__container-dash {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-left: 20px;
    margin-bottom: 15px;
    cursor: pointer;
  }
  
  .main__dash-g {
    color: grey;
    font-size: 30px;
  }
  
  .main__dash {
    font-size: 30px;
  }
  
  .main__btn:hover {
    background: #fcaf17;
    border: 1px solid #fcaf17;
    transition: transform 0.2s;
  }
  
  .main__container-btn:hover {
    color: black;
  
    cursor: pointer;
    text-decoration: none;
  }

  /* tamaño tablet */
@media (min-width: 768px) { 
    .main__title-name {
      margin-top: 80px;
    }
  
    .main__description {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .main__container-description {
      font-size: 36px;
    }
  
    .main__btn {
      width: 40%;
      margin-top: 0%;
    }
  
    .main__container-btn {
      align-self: flex-start;
      min-width: max-content;
      text-align: center;
    }
  
    .main__dash,
    .main__dash-g {
      font-size: 80px;
    }
}  

/* tamaño desktop */
@media (min-width: 1024px) {
    /*Estilos para el main */
    .main {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .main__img {
      width: 100%;
    }
    .main__btn {
      width: 25%;
    }
}  